* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background: linear-gradient(135deg, rgb(54, 35, 164)100%, white 0%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
